

{% block %}

    <h1> Вступ </h1>

    <p>
        PHP містить повноцінну об'єктну модель. Деякі з її особливостей: видимість , абстрактні та неуспадковані (final) класи та методи, а також магічні методи , інтерфейси та клонування .
        PHP працює з об'єктами так само, як з посиланнями або дескрипторами, це означає, що кожна змінна містить посилання на об'єкт, а не його копію.
    </p>

{% endblock %}